.login__content {
  padding: var(--padding-vertical-xlg) 0;
}

.login__form_container {
  flex-direction: column;
  margin: auto;
}

.back_button {
  padding: 0px !important;
  align-self: start;
}

.back_button:hover {
  text-decoration: underline;
}

.login__form {
  width: var(--form-default-width);
}
