.operations_container {
  margin: 20px;
}

.toolBar__container {
  margin-bottom: 5px;
  flex-wrap: wrap;
  display: flex;
}

.tab__container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tabs {
  flex-wrap: wrap;
  min-width: 250px;
}

.pdf_button {
  height: 40px !important;
  margin-left: 10px;
  align-self: end;
}
