.form {
  --form-inner-input-width: 4.5rem;
  --form-buttons-container-space: 8px;
  --form-gap-sm: 8px;
  --form-gap-md: 12px;
  --form-gap-lg: 16px;
  flex-direction: column;
  gap: var(--form-gap-sm);
}

label.form_label {
  display: flex;
  align-items: center;
}
