.forgot_password__content {
  padding: 50px 0;
}

.forgot_password__form_container,
.forgot_password__email_confirmation {
  flex-direction: column;
  margin: auto;
}

.forgot_password__form_container {
  gap: var(--separator-space-md);
}

.forgot_password__form,
.forgot_password__email_confirmation {
  width: var(--form-default-width);
}
