.table_container {
  border-radius: 12px;
  border: 1px;
  border-color: var(--chakra-colors-divider_disable);
  border-style: solid;
  padding: 12px;
  overflow-x: auto;
}

th.th {
  border-bottom: none;
  font-style: bold;
  padding: var(--padding-vertical-sm);
}

.table_padding {
  padding: 12px;
}

td.td {
  font-size: var(--font-size-sm);
  border: none;
  padding: var(--padding-vertical-sm);
}

.column_color__green {
  color: green;
}

.column_bold_text {
  font-weight: bold;
}

.cursor_pointer {
  cursor: pointer;
}

.totals_container {
  justify-content: end;
  height: 24px;
  margin-top: 12px;
}
