.page_container {
  margin: 30px auto 50px auto;
  width: 210mm;
}

.pl {
  padding-left: var(--padding-vertical-sm);
}

.back_button {
  color: var(--chakra-colors-green-light-text) !important;
  background-color: var(--chakra-colors-green-light-background) !important;
}
