.table_container {
  border-radius: 12px;
  border: 1px;
  border-color: var(--chakra-colors-divider_disable);
  border-style: solid;
  padding: 12px;
  overflow-x: auto;
  display: grid;
  gap: var(--separator-gap-sm);
}

.totals_container {
  gap: var(--separator-gap-sm) 0px;
  flex-wrap: wrap;
  justify-content: end;
  margin-top: 12px;
}

th.th {
  border-bottom: none;
  font-style: bold;
  padding: var(--padding-vertical-sm);
}

th.th:hover {
  cursor: pointer;
  border-radius: 10px;
}

th.sort_asc::after {
  content: '\25B2';
  margin-left: 5px;
}

th.sort_desc::after {
  content: '\25BC';
  margin-left: 5px;
}

.table_padding {
  padding: 12px;
}

td.td {
  font-size: var(--font-size-sm);
  border: none;
  padding: var(--padding-vertical-sm);
}

.rounded td:first-child {
  border-radius: 10px 0 0 10px;
}

.rounded td:last-child {
  border-radius: 0 10px 10px 0;
}

tr.tr:hover {
  border-radius: 12px;
}

.column_bold_text {
  font-weight: bold;
}

.cursor_pointer {
  cursor: pointer;
}

.rowSelected td:first-child {
  border-radius: 10px 0 0 0;
}

.rowSelected td:last-child {
  border-radius: 0 10px 0 0;
}

.childRowSelected {
  background-color: var(--chakra-colors-green-50);
}

.childRowSelectedDark {
  background-color: var(--chakra-colors-ghost);
}

.menuList {
  color: var(--chakra-colors-plain_white) !important;
}

.bottomRoundBorder td:first-child {
  border-radius: 0 0 0 10px;
}

.bottomRoundBorder td:last-child {
  border-radius: 0 0 10px 0;
}

.materialArrow {
  position: absolute;
  transform: translate(-15px, 0px);
}

.sub::after {
  content: '';
  border-width: 5px !important;
  border-color: transparent !important;
  border-style: solid !important;
  border-left-color: #222 !important;
}

@media (prefers-color-scheme: light) {
  th.th:hover {
    background-color: var(--chakra-colors-green-light-background);
  }
  tr.tr:hover {
    background-color: var(--chakra-colors-green-light-background);
  }
  .column_color__green {
    color: green;
  }
  .rowSelected {
    color: var(--chakra-colors-green-light-text);
    background-color: var(--chakra-colors-green-light-background);
  }
}

@media (prefers-color-scheme: dark) {
  th.th:hover {
    background-color: var(--chakra-colors-teal-dark-background);
  }
  tr.tr:hover {
    background-color: var(--chakra-colors-teal-dark-background);
  }
  .column_color__green {
    color: var(--chakra-colors-teal-dark-text);
  }
  .rowSelected {
    color: var(--chakra-colors-teal-dark-text);
    background-color: var(--chakra-colors-teal-dark-background);
  }
}
