.inline_style__container {
  justify-content: space-between;
}

.inline_style__left .inline_style__label {
  margin: 0;
  padding: 0;
}

.inline_style__right {
  width: 125px;
  text-align: right;
}

label.form_label {
  display: flex;
  align-items: center;
}

.helperText {
  color: var(--chakra-colors-primary) !important;
  opacity: 0.5 !important;
}
