.search_icon {
  padding: 12px 0px 20px 20px;
  cursor: pointer;
}

input.search_button {
  margin-left: 12px;
  margin-right: 0 !important;
  height: 32px;
  border-radius: 12px;
}

.dateSelect {
  height: 32px !important;
  max-width: 200px;
}

.filter_button {
  border-radius: 12px;
}

.p {
  cursor: pointer;
}

::placeholder {
  color: var(--chakra-colors-primary) !important;
  opacity: 0.5 !important;
}
