.search_container {
  display: contents !important;
}

.main_container {
  gap: var(--separator-gap-md);
  flex: 1;
  flex-basis: max-content !important;
}

.search_input {
  margin: 0 !important;
  max-width: 500px !important;
}

.date_select {
  height: 32px !important;
  max-width: 200px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

.filter_button {
  border-radius: 12px;
}

.title_option {
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
}

.item {
  cursor: pointer;
}
