.tab_group {
  gap: 0;
}

.tab_group__option {
  background-color: transparent;
  padding: calc(var(--padding-vertical-sm) * 0.8) var(--padding-vertical-md);
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.tab_group__option > p {
  color: var(--chakra-colors-black);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.default {
  border-bottom-color: var(--chakra-colors-success);
}

.default > p {
  color: var(--chakra-colors-success);
}

.rounded {
  background-color: var(--chakra-colors-light_success);
  border-radius: 20px;
}

.rounded > p {
  color: var(--chakra-colors-dark_success);
}
